<div id="task-body"><div class="richtext_section">

<div class="paragraph">
  <span style="font-size: 14px;">Today is about reflecting on the 
  experience and wrapping up the program. We hope these lessons have 
  helped to shape students' future and given them confidence in their 
  professional life.&nbsp;</span>
</div>

<div class="paragraph">
  <span style="font-size: 14px;">Please ensure that all of your final deliverables are uploaded and submitted by <strong>April 25th, 5 pm PST</strong>.&nbsp;</span>
</div>

<div class="paragraph">
  <span style="font-size: 14px;">After submitting all the deliverables, please take the following surveys:</span>
</div>

<div class="paragraph">
  <span style="font-size: 14px;"><strong>Student Surveys:&nbsp;</strong>Please make sure each student takes both surveys.&nbsp;</span></div>

<div class="paragraph">
  <p><span style="font-size: 14px;">-&nbsp;</span><span style="font-size: 14px;">Survey 1:&nbsp;</span><a href="https://www.surveymonkey.com/s/postsurvey2013"><span style="font-size: 14px;">https://www.surveymonkey.com/s/postsurvey2013</span></a>
  </p>

  <p><span style="font-size: 14px;">- Survey 2:&nbsp;</span><span style="font-size: 14px;"><a href="https://www.surveymonkey.com/s/Technovation">https://www.surveymonkey.com/s/Technovation&nbsp;</a></span>
  </p>
</div>

<div class="paragraph strong" style="margin-left:-390px;margin-top:80px;">Mentor Survey:</div>

<div class="paragraph" style="margin-top:20px;">
  <a href="https://www.surveymonkey.com/s/TechnovationMentor2013">https://www.surveymonkey.com/s/TechnovationMentor2013</a>
</div>

<div class="paragraph strong" style="margin-left:-420px;margin-top:60px;">Teacher Survey:</div>

<div class="paragraph" style="margin-top:20px;">
  <a href="https://www.surveymonkey.com/s/TechnovationTeacher2013"><span style="font-size: 14px;">https://www.surveymonkey.com/s/TechnovationTeacher2013</span></a>
</div>

<div class="paragraph" style="margin-top:40px;">
  <h2><a href="http://iridescentlearning.org/programs/technovation-challenge/pitch/submit/">SUBMISSION GUIDELINES</a></h2>
  <p><span style="font-size: 14px;">The deadline for submission is <strong>April 25, 5pm PST</strong>. You can still submit your project even if you do not have all of the deliverables. Judging is based on this <a href="http://iridescentlearning.org/programs/technovation-challenge/pitch/judging-rubric/">rubric</a>.</span></p>
  <p><span style="font-size: 14px;">Note: Your materials may be used in Technovation Challenge promotional materials. If you would like to opt out, please email: <a href="http://iridescentlearning.org/">t</a><a href="http://iridescentlearning.org/">echnovationchallenge@iridescentlearning.org</a>.</span></p>
  <p>&nbsp;</p>
  <p><span style="font-size: 14px;">1. <strong>Login into</strong> your <a href="https://www.dropbox.com/home">Dropbox</a> account or create a a new account on <a href="https://www.dropbox.com/home">Dropbox.com</a></span></p>
  <p>&nbsp;</p>
  <p><span style="font-size: 14px;">2. <strong>Create</strong> a folder with the team name that you registered.</span></p>
  <p>&nbsp;</p>
  <p><span style="font-size: 14px;">3. <strong>Fill out</strong> this <a href="http://iridescentlearning.org/wp-content/uploads/2013/04/Reaname_as_your_TEAMNAME1.docx" target="_blank">word document</a> to provide your app name,email to reach the team 100-word app description, link to your <a href="http://www.youtube.com/">YouTube</a> or <a href="https://vimeo.com/">Vimeo</a> pitch, link to your &nbsp;<a href="http://www.slideshare.net/">SlideShare</a> or <a href="http://prezi.com/">Prezi</a>
 presentation, and any supplementary information you wish to provide the
 judges with. Make sure it is a working emails as this is the email that
 will be used to confirm submission, and notify teams of the winners.</span>&nbsp;<span style="font-size: 14px;">Rename the document as your team name.</span></p>
  <p>&nbsp;</p>
  <p><span style="font-size: 14px;">4.<strong> Upload</strong> the following:</span></p>
  <p><span style="font-size: 14px;">- Completed <a href="http://iridescentlearning.org/wp-content/uploads/2013/04/Reaname_as_your_TEAMNAME1.docx" target="_blank">word document</a> from step 3</span></p>
  <p><span style="font-size: 14px;">- Business plan in PDF format</span></p>
  <p><span style="font-size: 14px;">- Team picture</span></p>
  <p><span style="font-size: 14px;">- Source code for app in .zip file (Please test uploading your .zip file and make sure it works)</span></p>
  <p><span style="font-size: 14px;">See below for more tips and information on deliverables.</span></p>
  <p>&nbsp;</p>
  <p><span style="font-size: 14px;">5.<strong> Share</strong> the folder by 
with the email that corresponds to your region by clicking "Invite to 
folder" while logged into your dropbox account. Please do not email a 
share link to the regional email. Below is a list of the regions with 
their corresponding email</span></p>
<p><span style="font-size: 14px;">- San Francisco Bay Area, CA: <a href="mailto:sanfranciscotc2013@gmail.com">sanfranciscotc2013@gmail.com</a></span></p>
<p><span style="font-size: 14px;">- Los Angeles, CA or Greater Boston Area, MA: <a href="mailto:boston.losangelestc@gmail.com">boston.losangelestc@gmail.com</a></span></p>
<p><span style="font-size: 14px;">- New York City, NY: <a href="mailto:NewYorkCityTC@gmail.com">NewYorkCityTC@gmail.com</a></span></p>
<p><span style="font-size: 14px;">- Other US locations: <a href="mailto:1usothertc@gmail.com">1usothertc@gmail.com</a></span></p>
<p>
	<span style="font-size: 14px;">- All International locations: <a href="mailto:1internationaltc@gmail.com">1internationaltc@gmail.com</a></span></p>
<p>
	&nbsp;</p>
<p>
	<span style="font-size: 14px;">That’s it! You are done!</span></p>
<p>
	&nbsp;</p>
<h3>
	<span style="font-size: 14px;"><strong>More information and tips:</strong></span></h3>
<p>
	<span style="font-size: 14px;">- <strong>Submission Assistance</strong>: We will have a Google Hangout available from Noon – 5pm PST available for submission assistance on April, 25th 2014. <a href="https://plus.google.com/hangouts/_/200415f9ab34d7c60ad1c8f05eb2f16dd3af1993">Click here to join</a>!</span></p>
<p>
	<span style="font-size: 14px;">- </span><strong><span style="font-size: 14px;">Business Plan</span>:</strong><span style="font-size: 14px;"> You can convert your word document to PDF in a number of ways.</span></p>
<p>
	<span style="font-size: 14px;"><strong><em>Option 1:</em></strong> If 
you have Microsoft Word, simply go to "File", select "Save As..." and 
choose "PDF" under Format. Be sure to save it to a place where you will 
find it easily, such as your desktop.</span></p>
<p>
	<span style="font-size: 14px;"><strong><em>Option 2: </em></strong>Copy your document into a <a href="http://support.google.com/drive/bin/answer.py?hl=en&amp;answer=49008">Google Doc</a>
 and convert it there. To do that, you need to log in to your gmail 
account, then click on "Drive" at the top. Then on the top left, click 
"Create" and choose "Document" from the drop down menu. Copy your 
business plan into the document. Then click on "File" on the top left, 
and choose to download it as a PDF document.</span></p>
<p>
	&nbsp;</p>
<p>
	<span style="font-size: 14px;">- </span><strong><span style="font-size: 14px;">Source code</span>: </strong><span style="font-size: 14px;">To obtain your app’s Source Code, log in to</span><a href="http://appinventor.mit.edu/"><span style="font-size: 14px;"> App Inventor</span></a><span style="font-size: 14px;">.
 Go to "My Projects". Check the box of the project that consists of your
 final app prototype. Click on "More Actions" button. Choose "Download 
Source" from the menu and save it to your computer. Then click on the 
empty box underneath to browse through your computer and upload the .zip
 file, <strong>without changing the name of the .zip file.</strong></span></p>
<p>
	&nbsp;</p>
<p>
	<span style="font-size: 14px;">- <strong>Video Pitch and Demo: </strong>Create a <a href="http://www.youtube.com/">YouTube</a>
 account if you do not already have one. Then click on the upload button
 on the top right and upload your video. Make sure to set it to "public"
 under privacy settings and save the changes. Copy the link that is 
found under your video name and paste into the <a href="http://iridescentlearning.org/wp-content/uploads/2013/04/Reaname_as_your_TEAMNAME1.docx" target="_blank">word document</a>.</span></p>
<p>
	&nbsp;</p>
<p>
	<span style="font-size: 14px;">- <strong>Converting your PowerPoint into Slideshare:</strong> Go to <a href="http://www.slideshare.net/">slideshare.net</a>.
 Create a free account on slideshare. Check the email you used to 
register, and follow instructions sent to your email to confirm the 
account. Log in to your account and click the upload button. Browse 
through your computer, and choose the presentation you want to upload. 
Once your file is uploaded, click on it to view, and copy the url. Paste
 the url into the <a href="http://iridescentlearning.org/wp-content/uploads/2013/04/Reaname_as_your_TEAMNAME1.docx" target="_blank">word document</a>.</span></p>
<p>
	&nbsp;</p>
<p>
	<span style="font-size: 14px;">- <strong>Converting your PowerPoint into Prezi:</strong> Go to <a href="http://prezi.com/"><u>prezi.com</u></a>. Create a free account on Prezi. Select ‘PowerPoint’ from the top-center menu when in <a href="https://prezi.zendesk.com/entries/22378326-edit-mode-present-mode">Edit mode</a>.
 Click on "Select File..." and choose the PPT or PPTx file you want to 
import. Drag your slides from the sidebar to the canvas, or click Insert
 all. You can also choose to add a path between them.&nbsp;</span><span style="font-size: 14.44444465637207px;">Paste the url into the&nbsp;</span><span style="font-size: 14px;"><a href="http://iridescentlearning.org/wp-content/uploads/2013/04/Reaname_as_your_TEAMNAME.docx">word document</a></span><span style="font-size: 14.44444465637207px;">.</span></p>
<p>
	&nbsp;</p>
<p>
	<span style="font-family: arial, sans-serif; font-size: 13px;"><span style="font-size: 14px;">Student feedback is crucial to improving our programs and obtaining funding, so please ensure that students take a few minutes t</span>o complete the Technovation Challenge post-survey.</span></p>
<p>
	<a href="http://iridescentlearning.org/wp-content/uploads/2013/01/Week-12.pptx"><strong>Click here to download this week's PowerPoint presentation.</strong></a></p>
</div>

</div></div>
