<div id="task-body"><div class="richtext_section">

  <div class="paragraph">
    Mentors, use this space to post information about Technovation events in your area.
  </div>

  <div class="paragraph">
    Would you like to meet the other mentors in your region?
    Post here to coordinate a meet-up.&nbsp;
  </div>

  <div class="paragraph">
    Having trouble with a particular issue in your group? Schedule a G+ 
    Hangout for mentors around the world to discuss and brainstorm 
    solutions.
  </div>

  <div class="paragraph">
    We will post info about events we are organizing as well, but please 
    use this space to get to know each other, organize events, and get 
    connected.
  </div>

  <div class="paragraph">
    Here are the maps of registrants so you can find others in your area:
  </div>

  <div class="paragraph" style="margin-top:20px;margin-left:-450px;"><ul>
    <li><a href="http://bit.ly/MentorMap2013">Mentor map&nbsp;</a></li>
    <li><a href="http://bit.ly/TeacherMap2013">Teacher map</a></li>
  </ul></div>

  <div class="paragraph" style="margin-top:50px;">
    Here are links to the Technovation Challenge&nbsp;<a href="https://twitter.com/_technovation_">Twitter</a>, <a href="http://www.linkedin.com/groups/Technovation-Challenge-4297197">Linkedin Group</a>, <a href="https://www.facebook.com/pages/Technovation-Challenge/171329136232341">Facebook page</a>, and <a href="http://iridescent-technovation.tumblr.com/">Tumblr</a>.
  </div>

</div></div>
