<div id="task-body"><div class="richtext_section">

<div class="paragraph">
  Are you a Technovation student looking for a summer internship? Or a 
  mentor looking to have a talented intern for the summer? This space is 
  designed to facilitate communication between intern-candidates and 
  employers.&nbsp;
</div>

<div class="paragraph">
  Students can post a comment with a brief summary of their skills and 
  qualifications, and mentors can reach out to students to set up an 
  interview or ask for further information.&nbsp;
</div>

<div class="paragraph strong">INSTRUCTIONS FOR POSTING</div>

<div class="paragraph" style="margin-left:-205px;margin-top:30px;">
  Students, please use the following format when posting about yourself:
</div>

<div class="paragraph" style="margin-left:-500px;margin-top:70px;">Name</div>
<div class="paragraph" style="margin-left:-500px;margin-top:110px;">City, State</div>
<div class="paragraph" style="margin-left:-500px;margin-top:150px;">Summary/Qualifications</div>
<div class="paragraph" style="margin-left:-500px;margin-top:190px;">What I'm looking for in an internship:</div>

</div></div>
