<div id="task-body"><div class="richtext_section">

<div class="paragraph strong">
  Innovation is all about taking existing ideas and 
  building upon them to create something unique and valuable.
</div>

<div class="paragraph">
  Use this "inspiration gallery" to post app ideas you see on the market 
  that capture your interest, have good user-centered design, or solve a 
  problem in a unique way. Post a screenshot of the app, a link, and 
  include a short description of what the app does and why you like it.
</div>

<div class="paragraph">
  Feel free to comment on the apps posted here, and share about what you 
  would do to improve them. We hope this space will spark conversation and
  help you generate innovative ideas as you think about what makes a good
  app.
</div>

<div class="paragraph">We look forward to seeing what inspires you!</div>

</div></div>
